.container
  width: 100vw
  height: 100vh
  position: fixed
  background: rgba(0, 0, 0, .8)
  z-index: 10000
  display: flex
  justify-content: center
  align-items: center

.card
  width: 380px
  background: white
  border-radius: 40px
  height: 720px
  box-shadow: 0px 0px 50px 50px rgba(255,255,255,0.13)
  overflow: hidden

.exit
  position: relative
  margin: 20px 30px -40px 0
  z-index: 999999
  cursor: pointer
  display: flex
  justify-content: flex-end

.sliderContainer
  ul
    bottom: 5px

.textContainer
  overflow-y: scroll
  padding: 0 20px

.textHeader
  display: flex
  justify-content: space-between
  align-items: center
  margin: 20px 0

.text
  text-align: justify
  margin: 20px 0

.links
  color: white