@import 'src/Style/MainVar.sass'

.container
  display: flex
  justify-content: center
  margin: 48px 0
  // height: 1250px
  transition-timing-function: ease-in-out

.bubblesContainer
  position: relative
  width: 1024px
  // background: green
  // height: 1250px

.title
  height: 1250px
  text-align: center
  position: relative
  font-family: 'Gilroy BlackItalic'
  font-size: 40pt
  color: $slider-title-color
  writing-mode: vertical-rl

.workedOn, .myWorks
  font-family: 'Gilroy BlackItalic'
  font-size: 16pt
  // right: 30px

.workedOn
  color: #BAE5D6
  // margin-bottom: 30px 
  // top: 100px
  transform: rotate(45deg)

.myWorks
  color: #F8C9D5
  // bottom: 100px
  transform: rotate(-45deg)

.bubblesLegend
  position: absolute

@media screen and (max-width: 1024px)
  .container
    flex-direction: column-reverse
    align-items: center
    justify-content: flex-start
  
  .title
    font-size: 36pt
    writing-mode: horizontal-tb
    height: auto

  .bubblesContainer
    margin: 50px 0 50px 0
    width: 380px
    height: 2250px

  .workedOn
    margin: -40px 50px 40px -50px
    transform: rotate(-45deg)

  .myWorks
    margin: 230px -220px 0 220px