@import 'src/Style/MainVar.sass'

.container
  display: flex
  justify-content: center
  margin: 48px 0
  transition-timing-function: ease-in-out

.bubblesContainer
  position: relative
  width: 1024px
  height: 1400px

.title
  text-align: center
  position: relative
  font-family: 'Gilroy BlackItalic'
  font-size: 40pt
  color: $slider-title-color
  writing-mode: vertical-rl

.workedOn, .myWorks
  font-family: 'Gilroy BlackItalic'
  font-size: 16pt

.workedOn
  color: #BAE5D6
  transform: rotate(45deg)
  margin: 50px 0 -50px 800px

.myWorks
  color: #F8C9D5
  transform: rotate(-45deg)
  margin: 0 0 0 790px

.bubblesLegend
  position: absolute

@media screen and (max-width: 1024px)
  .container
    flex-direction: column-reverse
    align-items: center
    justify-content: flex-start
  
  .title
    font-size: 36pt
    writing-mode: horizontal-tb

  .bubblesContainer
    margin: 50px 0 50px 0
    width: 380px
    height: 2250px

  .workedOn
    margin: -40px 50px 40px -50px
    transform: rotate(-45deg)

  .myWorks
    margin: 230px -220px 0 220px

@media screen and (max-width: 450px)
  .bubblesContainer
    width: 270px
    height: 1950px

  .myWorks
    margin: 140px -120px 0 120px
